- sending ||= @sending
- message ||= @message
- receiver ||= @receiver
- klasses = Msg.receiving_classes

= form_for sending do |f|
  .receivers
    - klasses.each do |klass|
      - key = klass.underscore
      
      %h3
        = t(:send_to)
        = t("msg.#{key}") unless klasses.length == 1
      
      %ul.choose_group
        - klass.constantize.messaging_groups.each_pair do |name, proc|
          - count = proc.call.count
          %li.group
            = radio_button sending, "#{key}_group", name, :data => {:action => "reveal", :converse => "ul.choose_receivers"}, :disabled => count == 0
            %label{:for => "#{key}_group_#{name}"} 
              = t("msg.groups.#{name}")
              %span.note
                = t(:receiver_count, :count => count)
            
        %li.group
          = radio_button sending, "#{key}_group", :selected, :data => {:action => "reveal", :affected => "ul.choose_receivers"}
          = t("msg.groups.selected")
          
          %ul.choose_receivers
            - klass.constantize.order('name ASC').each do |rec|
              %li.receiver
                = check_box sending, "receivers_#{key}[]", {}, rec.id
                %label{:for => "receivers_#{key}_#{rec.id}"}
                  = rec.name

  %iframe.body{:src => msg.preview_message_url(message, :receiver_type => receiver.class.to_s.downcase.underscore.to_s, :receiver_id => receiver.id)}

  .buttons
    = f.submit t(:send_message)
    = t :or
    = link_to t(:close), "/", :class => 'cancel'

