- sending ||= @sending
- message ||= @message
- receiver ||= @receiver
- klasses = Msg.receiving_classes

= form_for [message, sending], :as => :sending do |f|

  .receivers
    - klasses.each do |klass|
      - key = klass.underscore
      
      %h3
        = t(:send_to)
        = t("msg.#{key}") unless klasses.length == 1
      
      %ul.choose_group
        - klass.constantize.messaging_groups.each_pair do |name, proc|
          - count = proc.call.count
          %li.group
            = f.radio_button "#{key}_group", name, :data => {:action => "reveal", :converse => "ul.choose_receivers"}, :disabled => count == 0
            %label{:for => "sending_#{key}_group_#{name}", :class => count == 0 ? "disabled" : ""} 
              = t("msg.groups.#{name}") + ":"
              = count

  // #todo: update the preview on selection, and add a control to page through the selected group of people
  %iframe.body{:src => msg.preview_message_url(message, :receiver_type => receiver.class.to_s.downcase.underscore.to_s, :receiver_id => receiver.id)}

  .buttons
    = f.submit t(:send_message)
    = t :or
    = link_to t(:close), "/", :class => 'cancel'

