= form_for @sending, :html => {:class => 'edit sending', :remote => true, :data => {:type => :html}} do |f|

  - Msg.receiving_classes.each do |klass|
    - key = klass.underscore
    %h3
      = t(:send_to)
      = t("msg.#{key}")

    %ul.groups
      - Msg.messaging_groups[klass.underscore].each do |grp|
        %li.group
          = radio_button @sending, "groups_#{key}", grp, 
          = t("msg.groups.#{grp}")





  .buttons
    = f.submit t(:send_message)
    = t :or
    = link_to t(:cancel), "/", :class => 'cancel'

