- sending ||= listing
- receiver_count = sending.envelopes.count

%li.sending
  %a{:href => msg.sending_url(sending)}
    %span.pie{:data => {:diameter => 16}}<
      = sending.statistics.join(',')
    = shorten(sending.message.subject, 36)
  %span.note
    - if sending.receiving_group
      = t(:sent_to)
      = t("msg.groups.#{sending.receiving_group}")
      = t(:receiver_count, :count => sending.envelopes.count)
    
    - else
      = t(:sent_to_count, :count => sending.envelopes.count)
    = t(:at)
    = l(sending.created_at, :format => :natural_with_date)
