#sending

  
  - if envelope = @sending.envelopes.first
    .envelope
      .headers
        %p
          %span.field
            = t(:subject).titlecase + ":"
          %strong
            = envelope.subject
        %p
          %span.field
            = t(:to).titlecase + ":"
          %strong
            = envelope.to_address
        %p
          %span.field
            = t(:from).titlecase + ":"
          %strong
            = envelope.from_address
        %p
          %span.field
            = t(:sent_at).titlecase + ":"
          %strong
            = l(@sending.created_at, :format => :natural_with_date)
      %iframe.body{:src => msg.review_sending_url(@sending)}
    


-content_for :title do
  = t :sent_message

-content_for :margin do
  #receivers
    %p
      - if @sending.receiving_group
        = t(:sent_to)
        = t("msg.groups.#{@sending.receiving_group}")
        = t(:receiver_count, :count => @sending.envelopes.count)
      - else
        = t(:sent)
      = t(:at)
      = l(@sending.created_at, :format => :natural_with_date)

    %span.pie{:data => {:diameter => 50}}<
      = @sending.statistics.join(',')
  
    %ul.envelopes
      = render :partial => "msg/envelopes/listing", :collection => @sending.envelopes

-content_for :css do
  = stylesheet_link_tag "msg.css"
-content_for :js do
  = javascript_include_tag "msg.js"
