- if editable?(message)
  .menu{:data => {:for => "message_#{message.id}"}}
    %ul.actions
      %li
        = link_to t(:edit_message), msg.edit_message_url(message), :class => 'edit', :data => {:action => "popup", :replaced => "#message_#{message.id}"}
      %li
        = link_to t(:send_message), msg.new_message_sending_url(message), :class => "add", :data => {:action => "popup", :affected => "#message_#{message.id}"}
      - unless message.transactional?
        %li
          = link_to t(:delete_message), msg.message_url(message), :method => 'delete', :class => 'delete', :data => {:action => "remove", :removed => "#message_#{message.id}", :confirm => t(:confirm_delete_message, :subject => message.subject)}
