= form_for @message, :html => {:class => 'edit message', :remote => true, :data => {:type => :html}} do |f|
  %p.subject
    = f.text_field :subject, :class => 'name', :placeholder => t(:message_subject)

  .messagebody.wysihtml
    = render "msg/messages/instructions"
    .toolbar#t1
      = render 'msg/shared/toolbar'
    = f.text_area :body, :id => 'd1', :class => "body"

  .twister{:data => {:action => "twister"}}
    %p.show_details
      = link_to t(:more_details), "#", :class => "twisty"
    .details.twisted
      %p.description
        = f.text_field :description, :class => "description", :placeholder => t(:message_description)
        = f.text_field :function, :class => "function", :placeholder => t(:message_function)
      %p.sender
        = f.text_field :from_name, :class => 'from_name', :placeholder => t(:message_from_name)
        = f.text_field :from_address, :class => 'from_address', :placeholder => t(:message_from_address)
        %span.formnote
          = t(:message_from_note)
          %strong
            = Msg.default_from
  .buttons
    = f.submit t(:save_message)
    = t :or
    = link_to t(:cancel), "/", :class => 'cancel'

