- message ||= @message

.message{:id => "message_#{message.id}", :data => {:refreshable => true, :url => message_path(message, :format => :js)} }
  %h3.message
    = link_to shorten(message.subject, 48), msg.message_url(message), :class => "message", :data => {:action => "popup", :affected => "#sentbox", :group => "messages"}
    = action_menulink(message)
  = action_menu(message)
  %p.description
    = message.description
  %p.excerpt
    = shorten(message.body, 128)