- message ||= @message

.message{:id => "message_#{message.id}", :class => "message", :data => {:refreshable => true, :url => message_path(message, :format => :js)} }
  %h2.name
    = link_to shorten(message.subject, 40), msg.message_url(message)
    = action_menulink(message)
  = action_menu(message)
  %p.description
    = message.description
  %p.excerpt
    = shorten(message.body, 128)