#main.messages

  %h2.section
    = t :transactional_messages
  = render "msg/messages/transactional_messages"
    
  %h2.section
    = t :saved_messages
    %span.action
      = link_to t(:add_message), msg.new_message_url, :class => "add minimal", :data => {:action => "popup", :affected => "#saved_messages"}
  = render "msg/messages/saved_messages"


-content_for :margin do
  = render :partial => "msg/bounces/report"
  = render :partial => "msg/sendings/report"

-content_for :title do
  = t :messages
