#preview_message
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2
      = t :preview_message
  .headers
    %p
      %span.field
        = t(:subject).titlecase + ":"
      %strong
        = @message.subject
    %p
      %span.field
        = t(:to).titlecase + ":"
      %strong
        = @receiver.email
    %p
      %span.field
        = t(:from).titlecase + ":"
      %strong
        = @message.from

  - sending = @message.sendings.build
  = render :partial => "msg/sendings/form", :locals => {:sending => sending}

