#preview_message
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2
      = t :preview_message
  .headers
    %p
      %span.field
        = t(:subject).titlecase + ":"
      %strong
        = @message.subject
    %p
      %span.field
        = t(:to).titlecase + ":"
      %strong
        = @receiver.email
    %p
      %span.field
        = t(:from).titlecase + ":"
      %strong
        = @message.from
  %iframe.body{:src => msg.preview_message_url(@message, :receiver_type => @receiver.class.to_s.downcase.underscore.to_s, :receiver_id => @receiver.id)}


-content_for :margin do
  = render :partial => "msg/sendings/report", :locals => {:message => @message}

-content_for :title do
  = t :messages
